{deps, [
  {cowlib, ".*",
    {git, "https://github.com/adgear/cowlib.git", {branch, "adgear-v1.0"}}},
  {erl_string_encoders, "1.0.0",
    {git, "https://github.com/adgear/erl_string_encoders.git", {tag, "0.1.0"}}},
  {ranch, ".*",
    {git, "https://github.com/adgear/ranch.git", {branch, "without-statsderl"}}}
]}.
